[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solify = "7tvJ6jxJF81pozUSa2o8yPo6zsQCxG4GyF2b6JgaHqaa"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test -- --no-capture"
